body {
    font-size: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p, span, button {
    /* font-size: 1.4rem; */
}

/* button {
    background: black;
    color: white;
    padding: 0 2%;
    margin: 2%;
    border: 1px solid white;
}
  
button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
.pony-container {
  height: 25vh; 
} */