body {
    font-size: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p, span, button {
    font-size: 1.4rem;
}

.pony-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
