body {
    font-size: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p, span, button {
  font-size: 1.2rem;
}

label {
  font-size: 1rem;
}

.pony-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Task actions area */
.actions button span {
  font-size: 0.8rem !important;
}
