
.nav-link {

}

.route {

}

.active-menu-link {

}

* {

}

.standard-form {
    border: 1px solid #FFC107;
    // background-color: pink;
    // width: 100%;
    // padding: 5% 10%;
    // label {
    //     font-size: 1.5rem;
    // }
    .form-control {
        font-size: 1rem;
    }
    // .form-textfield {
    //     border: 1px solid black;
    // }
}

.nonstandard-form {
    border: 1px solid red;
}